// p,m = padding,margin
// a,t,r,b,l = all,top,right,bottom,left
// s,m,l,n = small, medium, large, none
// @see https://github.com/raphaelgoetter/KNACSS

.man {
    margin: 0;
}

.pan {
    padding: 0;
}

.mas {
    margin: 10px;
}

.mam {
    margin: 20px;
}

.mal {
    margin: 30px;
}

.pas {
    padding: 10px;
}

.pam {
    padding: 20px;
}

.pal {
    padding: 30px;
}

.mtn {
    margin-top: 0;
}

.mts {
    margin-top: 10px;
}

.mtm {
    margin-top: 20px;
}

.mtl {
    margin-top: 30px;
}

.mrn {
    margin-right: 0;
}

.mrs {
    margin-right: 10px;
}

.mrm {
    margin-right: 20px;
}

.mrl {
    margin-right: 30px;
}

.mbn {
    margin-bottom: 0;
}

.mbs {
    margin-bottom: 10px;
}

.mbm {
    margin-bottom: 20px;
}

.mbl {
    margin-bottom: 30px;
}

.mln {
    margin-left: 0;
}

.mls {
    margin-left: 10px;
}

.mlm {
    margin-left: 20px;
}

.mll {
    margin-left: 30px;
}

.ptn {
    padding-top: 0;
}

.pts {
    padding-top: 10px;
}

.ptm {
    padding-top: 20px;
}

.ptl {
    padding-top: 30px;
}

.prn {
    padding-right: 0;
}

.prs {
    padding-right: 10px;
}

.prm {
    padding-right: 20px;
}

.prl {
    padding-right: 30px;
}

.pbn {
    padding-bottom: 0;
}

.pbs {
    padding-bottom: 10px;
}

.pbm {
    padding-bottom: 20px;
}

.pbl {
    padding-bottom: 30px;
}

.pln {
    padding-left: 0;
}

.pls {
    padding-left: 10px;
}

.plm {
    padding-left: 20px;
}

.pll {
    padding-left: 30px;
}
