ErrorDocument 404 /404.html

RewriteEngine On
RedirectPermanent /prestations http://florentdesjardins.fr/competences
RedirectPermanent /formation-professionnelle-web-lyon http://florentdesjardins.fr/competences
