ErrorDocument 404 /404.html

RewriteEngine On
RedirectPermanent /static/pdf/cv_florent_desjardins.pdf http://florentdesjardins.fr/prestations
RedirectPermanent /projets http://florentdesjardins.fr/realisations
RedirectPermanent /experience http://florentdesjardins.fr/prestations
RedirectPermanent /competences http://florentdesjardins.fr/prestations
RedirectPermanent /formation http://florentdesjardins.fr
