{% extends 'layouts/default.html' %}

{% block title %}Développeur web à Lyon{% endblock %}
{% block description %}Florent Desjardins, développeur web et formateur freelance à Lyon.{% endblock %}

{% block content %}
    <h2>Qui suis-je ?</h2>
    <div class="mtm">
        <div class="alt-title">Nom</div>
        <div>Florent Desjardins</div>
    </div>
    <div class="mtm">
        <div class="alt-title">Âge</div>
        <div><span id="age"></span> ans</div>
    </div>
    <div class="mtm">
        <div class="alt-title">Métier</div>
        <div>Développeur web freelance & formateur indépendant</div>
    </div>
    <div class="mtm">
        <div class="alt-title">Localisation</div>
        <div>Lyon, France</div>
    </div>
    <div class="mtm">
        <div class="alt-title">Disponibilités</div>
        <div>Juil. 2016</div>
    </div>

    <h2 class="mtl">À propos</h2>
    <p>Je suis <strong>développeur web freelance à Lyon</strong>. J'accompagne mes clients dans la réalisation de projets web avec une affection particulière pour les sites de contenus (blogs, sites vitrines, sites de présentation, etc). Je forme également des étudiants, des particuliers et des entreprises aux langages et outils du développement web.</p>

    <h2 class="mtl">Ma philosophie</h2>
    <p>Quand vous chercher un objet qui dure dans le temps, vous n'achetez pas chez H&M ou Ikea, n'est-ce pas ? Et bien pour moi, le développement web c'est pareil ! Je suis attentif à la qualité d'un projet. J'aime les bonnes pratiques et cherche l'industrialisation. Je travaille pour fournir des applications utiles, stables et maintenables. « Keep it simple, stupid » ou en français « Garde ça simple, idiot » ! J'essaye de conseiller mes interlocuteurs dans ce sens afin d'éviter toute complexité non indispensable au projet.</p>

    <h2 class="mtl">Mes points forts</h2>
    <ul class="alt-list mtl">
        <li class="alt-list__item">6 ans d'expérience en agence web, passant de web designer à développeur.</li>
        <li class="alt-list__item">Ancien sportif, j'ai gardé des qualités de combativité, je vise la perfection et j'ai l'esprit d'équipe.</li>
        <li class="alt-list__item">Facilité de communication avec toute la chaîne des métiers de l'Internet.</li>
        <li class="alt-list__item">J'adore trouver des analogies pour expliquer des concepts techniques à un public novice.</li>
        <li class="alt-list__item">Je suis sans arrêt en train d'apprendre, toutes les technologies m'intéressent.</li>
    </ul>

    <div class="mtl">
        <a href="/contact" class="btn btn--blue">Contactez-moi !</a>
    </div>
{% endblock %}
