{% extends 'layouts/default.html' %}

{% block title %}Développeur front end Lyon{% endblock %}
{% block description %}Florent Desjardins, développeur front end et intégrateur HTML & CSS freelance à Lyon.{% endblock %}

{% block content %}
    <h2>Qui suis-je ?</h2>
    <div class="mtm">
        <div class="alt-title">Nom</div>
        <div>Florent Desjardins</div>
    </div>
    <div class="mtm">
        <div class="alt-title">Âge</div>
        <div><span id="age"></span> ans</div>
    </div>
    <div class="mtm">
        <div class="alt-title">Métier</div>
        <div>Développeur front end freelance</div>
    </div>
    <div class="mtm">
        <div class="alt-title">Localisation</div>
        <div>Lyon, France</div>
    </div>

    <p class="mtl">Je suis <strong>développeur freelance à Lyon</strong>. J'accompagne mes clients dans la réalisation de projets web avec une affection particulière pour le développement front, l'intégration HTML & CSS, la modularisation et la maintenabilité du code et une sensibilité à l'accessibilité. Formateur et intervenant universitaire depuis 2011, je forme également des étudiants, des particuliers et des entreprises aux langages et outils du développement web.</p>

    <h2 class="mtl">Ma philosophie</h2>
    <p>Quand on cherche un objet qui dure dans le temps, on ne va généralement pas chez H&M ou Ikea, n'est-ce pas... ? Et bien selon moi, le développement web c'est pareil ! Je suis attentif à la qualité d'un projet. Je suis attaché aux bonnes pratiques professionnelles et cherche l'industrialisation. Je tiens à concevoir des applications utiles, stables et maintenables dans le temps. Préconisant la simplicité, j'apporte un réel conseil tout au long de la conception du projet afin d'éviter toute complexité non indispensable. "Keep it simple, stupid!", ne compliquons pas les choses... !</p>

    <h2 class="mtl">Mes points forts</h2>
    <ul class="alt-list mtl">
        <li class="alt-list__item">6 ans d'expérience en agence web, passant de web designer à développeur.</li>
        <li class="alt-list__item">Ancien sportif, j'ai gardé le goût du challenge, je vise la perfection et j'ai l'esprit d'équipe.</li>
        <li class="alt-list__item">Facilité de communication avec toute la chaîne des métiers de l'Internet.</li>
        <li class="alt-list__item">Pédagogue, patient et passionné par mon métier, j'adore expliquer et vulgariser des concepts techniques aux publics novices.</li>
        <li class="alt-list__item">J'apprends sans cesse, toutes les technologies m'intéressent.</li>
    </ul>

    <div class="mtl">
        <a href="/contact" class="btn btn--blue">Contactez-moi !</a>
    </div>
{% endblock %}
