{% extends 'layouts/default.html' %}

{% block title %}Développeur front end Lyon{% endblock %}
{% block description %}Florent Desjardins, développeur front end et intégrateur HTML & CSS freelance à Lyon.{% endblock %}

{% block content %}
    <h2>Qui suis-je ?</h2>
    <div class="mtm">
        <div class="alt-title">Nom</div>
        <div>Florent Desjardins</div>
    </div>
    <div class="mtm">
        <div class="alt-title">Âge</div>
        <div><span id="age"></span> ans</div>
    </div>
    <div class="mtm">
        <div class="alt-title">Métier</div>
        <div>Développeur front end freelance</div>
    </div>
    <div class="mtm">
        <div class="alt-title">Localisation</div>
        <div>Lyon, France</div>
    </div>

    <p class="mtl">Je suis <strong>développeur web freelance à Lyon</strong>. J'accompagne mes clients dans la réalisation de projets web avec une affection particulière pour le développement front, l'intégration HTML & CSS, la modularisation et la maintenabilité du code. Formateur et intervenant universitaire depuis 2011, je forme également des étudiants, des particuliers et des entreprises aux langages et outils du développement web.</p>

    <h2 class="mtl">Ma philosophie</h2>
    <p>Quand on cherche un objet qui dure dans le temps, on ne va généralement pas chez H&M ou Ikea, n'est-ce pas... ? Et bien selon moi, le développement web c'est pareil ! Je suis attentif à la qualité d'un projet. Je suis attaché aux bonnes pratiques professionnelles et cherche l'industrialisation. Je tiens à concevoir des applications utiles, stables et maintenables dans le temps. Préconisant la simplicité, j'apporte un réel conseil tout au long de la conception du projet afin d'éviter toute complexité non indispensable. "Keep it simple, stupid!", ne compliquons pas les choses... !</p>

    <h2 class="mtl">Ce que disent les gens</h2>
    <div class="testimonial mtm">
        <div class="testimonial__body">Merci à vous. Nous sommes très contents de votre travail et de notre collaboration. Tous mes remerciements et mes félicitations pour votre contribution.</div>
        <div class="testimonial__author">Romain Clement</div>
        <div class="testimonial__job">CEO Chaahk</div>
    </div>
    <div class="testimonial mtm">
        <div class="testimonial__body">Versatile, curieux et sérieux, Florent a su relever avec ingéniosité et ténacité les différents challenges posés par les projets sur lesquels il a collaboré. D'un naturel sympathique et calme, il s'est parfaitement et rapidement intégré à l'équipe. Je recommande vivement Florent pour la qualité de son travail, le niveau de ses compétences et le plaisir de collaborer avec lui.</div>
        <div class="testimonial__author">Erwan Jesson Ripoll</div>
        <div class="testimonial__job">CTO chez ikomobi</div>
    </div>
    <div class="testimonial mtm">
        <div class="testimonial__body">La formation WordPress pour débutant que j'ai suivi durant 2 jours avec Florent Desjardins m'as permis d'acquérir les fondamentaux de l'outil et vas me permettre de concrétiser avec l'aide de documentation la création de mon site vitrine. De plus étant participant unique, j'ai pu bénéficier d'une formation plus particulièrement adaptée à mes connaissances et mes besoins, ainsi que que de conseils personnalisés par rapport au choix des thèmes et à l'ergonomie du site.</div>
        <div class="testimonial__author">René Jacquet</div>
        <div class="testimonial__job">Conseil en stratégie organisation Finances Comptabilité</div>
    </div>
    <div class="testimonial mtm">
        <div class="testimonial__body">J'ai participé à une formation "initiation au CSS & HTML" avec Florent. Très claire et structurée la formation m'a permis d'être efficace et autonome par rapport à mes problématiques métiers en webmarketing telles que l'ajustement de code de newsletter, l'intégration de page sur mon site ou la mise en page de blog. Adaptable, le formateur a vite compris les aspects importants qui avaient motivés ma demande de formation et a su ajuster la session en fonction de mes besoins. La mise a disposition de référence et la disponibilité après la formation ont été les arguments qui m'ont satisfait pleinement.</div>
        <div class="testimonial__author">David Font</div>
        <div class="testimonial__job">Chef de projet Web &ndash; Consultant Webmarketing</div>
    </div>
    <div class="testimonial mtm">
        <div class="testimonial__body">Enfin une personne à l'écoute des besoins de ces clients ! Une formation adaptée, efficace et bien menée. Un formateur professionnel, qualifié et plein de ressource. Je suis sortis de cette formation : motivée et confiante pour l'application de mon apprentissage. Merci.</div>
        <div class="testimonial__author">Amandine Gansert</div>
        <div class="testimonial__job">Graphiste Webdesigner</div>
    </div>

    <h2 class="mtl">Mes points forts</h2>
    <ul class="alt-list">
        <li class="alt-list__item">6 ans d'expérience en agence web, passant de web designer à développeur.</li>
        <li class="alt-list__item">Ancien sportif, j'ai gardé le goût du challenge, je vise la perfection et j'ai l'esprit d'équipe.</li>
        <li class="alt-list__item">Facilité de communication avec toute la chaîne des métiers de l'Internet.</li>
        <li class="alt-list__item">Pédagogue, patient et passionné par mon métier, j'adore expliquer et vulgariser des concepts techniques aux publics novices.</li>
        <li class="alt-list__item">J'apprends sans cesse, toutes les technologies m'intéressent.</li>
    </ul>

    <div class="mtl">
        <a href="/contact" class="btn btn--blue">Contactez-moi !</a>
    </div>
{% endblock %}
