{% extends 'layouts/default.html' %}

{% block title %}Réalisations{% endblock %}
{% block description %}Parcourez toutes les réalisations clients et projets personnels de Florent Desjardins, développeur indépendant à Lyon.{% endblock %}

{% block content %}
    <h2>Réalisations</h2>

    <h3 class="mtl h5">Chaahk</h3>
    <p>En collaboration avec le CTO de Chaahk, j'ai conçu la partie front-end de leur projet de Cultural Tracker.</p>
    <div class="tags mts"><em>#angularjs, #jade, #stylus, #es6, #responsive, #docker</em></div>

    <h3 class="mtl h5">Nexans</h3>
    <p>Avec l'agence 46cl, j'ai contribué à la mise en place du nouveau design d'une application desktop interne de partage de documents réalisée avec electron.</p>
    <div class="tags mts"><em>#angular, #ionic, #electron, #sass, #html</em></div>

    <h3 class="mtl h5">Baromètre de confusion</h3>
    <p>Outil permettant à des apprenants de montrer lorsqu'ils sont confus à propos d'un concept abordé lors d'un cours ou d'une formation.</p>
    <div class="tags mts"><em>#nodejs, #socket.io, #expressjs, #mobile</em></div>
    <div class="external mts">
        <span class="fa fa-github external__icon"></span>
        <a class="external__link" href="https://github.com/dflorent/confusion-barometer">Github</a>
    </div>

    <h3 class="mtl h5">Conception & Intégration Web</h3>
    <p>Support de cours Conception & Intégration Web dispensé à l'IUT Lyon 3 Jean Moulin en Licence Professionnelle Marketing Digital.</p>
    <div class="tags mts"><em>#html, #css</em></div>
    <div class="external mts">
        <span class="fa fa-graduation-cap external__icon"></span>
        <a class="external__link" href="http://dflorent.github.io/conception-integration-web">Présentation</a>
    </div>

    <h3 class="mtl h5">Facture</h3>
    <p>Facture HTML & CSS éditable/imprimable pour auto-entrepreneur.</p>
    <div class="tags mts"><em>#html, #css, #javascript</em></div>
    <div class="external mts">
        <span class="fa fa-hand-pointer-o external__icon"></span>
        <a class="external__link" href="http://dflorent.github.io/invoice">Démo</a>
    </div>

    <h3 class="mtl h5">Lettre</h3>
    <p>Courrier HTML & CSS éditable et imprimable.</p>
    <div class="tags mts"><em>#html, #css, #js, #geo-localisation</em></div>
    <div class="external mts">
        <span class="fa fa-hand-pointer-o external__icon"></span>
        <a class="external__link" href="http://dflorent.github.io/letter">Démo</a>
    </div>

    <h3 class="mtl h5">Restaurand</h3>
    <p>Application qui genère une liste de restaurants aléatoire simplifiant le choix de l'endroit où aller manger avec ses amis ou ses collègues.</p>
    <div class="tags mts"><em>#python, #flask, #react</em></div>
    <div class="external mts">
        <span class="fa fa-github external__icon"></span>
        <a class="external__link" href="https://github.com/dflorent/restaurand">Github</a>
    </div>

    <h3 class="mtl h5">Restaurand API</a></h3>
    <p>API et espace d'administration pour l'application Restaurand.</p>
    <div class="tags mts"><em>#python, #django, #postgresql, #djangorestframework</em></div>
    <div class="external mts">
        <span class="fa fa-github external__icon"></span>
        <a class="external__link" href="https://github.com/dflorent/restaurand-api">Github</a>
    </div>

    <h3 class="mtl h5">Gridsy</h3>
    <p>Gridsy est un outil de système de grille CSS écrit avec Sass.</p>
    <div class="tags mts"><em>#css, #sass, #grunt</em></div>
    <div class="external mts">
        <span class="fa fa-book external__icon"></span>
        <a class="external__link" href="http://dflorent.github.io/gridsy/">Documentation</a>
    </div>

    <h3 class="mtl h5">florentdesjardins.fr</h3>
    <p>Code source de mon site internet.</p>
    <div class="tags mts"><em>#html, #sass, #nunjuck, #gulp, #responsive</em></div>
    <div class="external mts">
        <span class="fa fa-github external__icon"></span>
        <a class="external__link" href="https://github.com/dflorent/florentdesjardins.fr">Github</a>
    </div>

    <h3 class="mtl">Mes compétences et mon expérience vous intéressent ?</h3>
    <div class="mtm">
        <a href="/contact" class="btn btn--blue">Contactez-moi !</a>
    </div>
{% endblock %}
