{% extends 'layouts/default.html' %}

{% block title %}Réalisations{% endblock %}
{% block description %}Parcourez toutes les réalisations clients et projets personnels de Florent Desjardins, développeur web indépendant à Lyon.{% endblock %}

{% block content %}
    <h2>Réalisations</h2>

    <h3 class="mtl h6">
        <a href="https://github.com/dflorent/confusion-barometer">Baromètre de confusion</a>
    </h3>
    <p>Outil permettant à des apprenants de montrer lorsqu'ils sont confus à propos d'un concept abordé lors d'un cours ou d'une formation.</p>

    <h3 class="mtl h6">
        <a href="http://dflorent.github.io/conception-integration-web">Conception & Intégration Web</a>
    </h3>
    <p>Support de cours Conception & Intégration Web dispensé à l'IUT Lyon 3 Jean Moulin en Licence Professionnelle Marketing Digital.</p>

    <h3 class="mtl h6">
        <a href="https://github.com/dflorent/invoice">Facture</a>
    </h3>
    <p>Facture HTML & CSS éditable/imprimable pour auto-entrepreneur.</p>

    <h3 class="mtl h6">
        <a href="https://github.com/dflorent/restaurand">Restaurand</a>
    </h3>
    <p>Application qui genère une liste de restaurants aléatoire simplifiant le choix de l'endroit où aller manger avec ses amis ou ses collègues.</p>

    <h3 class="mtl h6">
        <a href="https://github.com/dflorent/restaurand-api">Restaurand API</a>
    </h3>
    <p>API et espace d'administration pour l'application Restaurand.</p>

    <h3 class="mtl h6">
        <a href="https://github.com/dflorent/gridsy">Gridsy</a>
    </h3>
    <p>Gridsy est un outil de système de grille CSS écrit avec Sass.</p>

    <h3 class="mtl h6">
        <a href="https://github.com/dflorent/vagrant-ansible">Vagrant Ansible</a>
    </h3>
    <p>Environnement de développement Vagrant provisionné par Ansible.</p>

    <h3 class="mtl h6">
        <a href="https://github.com/dflorent/florentdesjardins.fr">florentdesjardins.fr</a>
    </h3>
    <p>Code source de mon site internet.</p>

    <h3 class="mtl">Mes compétences et mon expérience vous intéressent ?</h3>
    <div class="mtm">
        <a href="/contact" class="btn btn--blue">Contactez-moi !</a>
    </div>
{% endblock %}
