<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Florent Desjardins</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@dflorent" />
    <meta name="twitter:title" content="Florent Desjardins" />
    <meta name="twitter:description" content="Développeur web freelance & formateur indépendant à Lyon" />
    <meta name="twitter:url" content="http://florentdesjardins.fr">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-16540815-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies et autres traceurs présents sur ce site dans le but de réaliser des statistiques de visites","dismiss":"Fermer","learnMore":"En savoir plus","link":null,"theme":"dark-top"};
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->

</head>
<body>
    <div class="frame">
        <div class="frame__nav">
            {% include '../includes/top-bar.html' %}
            {% include '../includes/photo.html' %}
            {% include '../includes/navigation.html' %}
        </div>
        <div class="frame__content">
            <div class="wrapper">
                <h1 class="me">Florent Desjardins</h1>

                {% block content %}{% endblock %}

                <div class="copyright">
                    <div>Copyright &copy; 2010 - <span id="year"></span> Florent Desjardins.</div>
                    <div class="mts">Activité de la société coopérative Elycoop (SCOP SARL à capital variable)<br>
                    (Siège social) : Pôle Pixel &ndash; Bât B &ndash; 26 rue Emile Decorps &ndash; 69100 Villeurbanne<br>
                    SIREN 429 851 637 - NAF 7022Z - 429 851 637 RCS Lyon</div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/script.min.js"></script>
</body>
</html>
